* {
    margin : 0;
    padding: 0;
}

body {
    font-family : sans-serif;
}

.container {
    border : 5px solid black;
    width : 700px;
    margin : 100px auto 0 auto;
}

.header {
    position: relative;
}

.header::before {
    content : "SALE";
    background-color: #D2042D;
    position: absolute;
    left : -30px;
    top : -15px;
    padding: 5px 10px;
    font-size: 12px;
    color : #eee;
    letter-spacing: 2px;
}

.heading {
    text-align: center;
    background-color: #DDD;
    text-transform: uppercase;
    padding: 10px 0;
}

p {
    margin-bottom: 10px;
}

.price{
    font-weight: 900;
    margin-bottom : 5px;
}

.shipping {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom : 15px;
}

.colors {
    margin-top: 20px;
}

.color-box {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 15px;
}

.color-box:last-child {
    margin-right: 0;
}

.color-box:nth-child(1) {
    background-color: #111;
}
.color-box:nth-child(2) {
    background-color: #5555FF;
}
.color-box:nth-child(3) {
    background-color: #FF5555;
}
.color-box:nth-child(4) {
    background-color: #FFAA00;
}
.color-box:nth-child(5) {
    background-color: #55FF55;
}
.color-box:nth-child(6) {
    background-color: #AA0000;
}

a {
    margin-top : 15px;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    text-decoration: none;
}

a:active {
    color : #444;
}

.details-container {
    margin-top : 20px;
}

li {
    margin-left : 15px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom : 10px;
    margin-top: 10px;
    list-style-type: square;
}

.details-heading {
    font-size: 14px;
    text-transform: uppercase;
}

.btn {
    border-radius : 0;
    background-color: #000;
    color: #CCC;
    border-width : 0;
    text-transform: uppercase;
    width : 100%;
    padding : 10px;
}