/***********************************/
/* NAVIGATION                      */
/***********************************/
.main-nav-list {
    list-style: none;
    display: flex;
    gap : 3.2rem;
    align-items: center;
}

.main-nav-link:visited,
.main-nav-link:link {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #cf711f;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    /* color : #45360a; */
    /* color : #343a40; */
    color : #333;
    letter-spacing: -0.5px;
}   

.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.heading-tertiary {
    font-size: 3.0rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color : #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 9.6rem;
    align-items: center;
    padding: 0 3.2rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}

.delivered-meals {
    display: flex;
    margin-top : 8rem;
    gap: 1.6rem;
    align-items: center;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right : -1.6rem;
    border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
    margin: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color: #cf711f;
    font-weight: 700;
}


/***********************************/
/* Feature Section                  */
/***********************************/

.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
    color : #888;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img{
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}
/***********************************/
/* HOW IT WORKS                     */
/***********************************/

.section-how {
    padding: 9.6rem 0;
}

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.section-how div div {
    font-size: 50px;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color : #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 2rem;
    line-height: 1.8;
}

.step-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}   

.step-img-box::before {
    width: 60%;
    /* height: 60%; */
    /* 60% of parent's width */
    padding-bottom: 60%;
    background-color: #fdf2e9;
}

.step-img-box::after {
    width: 45%;
    /* height: 60%; */
    /* 60% of parent's width */
    padding-bottom: 45%;
    background-color: #fae5d3;
}

.step-img {
    width: 35%;
}

/***********************************/
/* Meals Section                    */
/***********************************/

.section-meals {
    padding: 9.6rem 0;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,0.06);
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
    margin-bottom: 1.2rem;
    gap:0.4rem
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    border-radius: 20px;
    font-weight: 600;
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #ffd43b;
}

.meal-title {
    font-size: 2rem;
    color : #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap : 1.6rem;
}

.meal-img {
    width: 100%;
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.list-icon {
    width: 3rem;
    height: 3rem;
    color : #e67e22;
}

.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}